#Heading
{
color:#ffffff;
background:#cc66ff;
}
#Heading1
{
color:#cc0033;
background:#cc99ff;
}
#Heading2
{
color:#9900ff;
background:#cc99ff;
}

table,tr,td
{
background:#cc99ff;
border:1px solid black;
border-collapse: collapse;
border-spacing:5px;
width:100%;
height:25px;
}

th
{
text-align: right;
border:1px solid black;
}